<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/stylelogin.css}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="background-image">
    <div class="login-container">
        <div class="login-card">
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="Lab Logo">
            </div>
            <h2>nome do laboratório</h2>
            <form id="login-form" th:action="@{/login}" method="post">
                <div class="input-group">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" placeholder="Informe o Usuário">
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Informe a senha">
                    <span class="toggle-password">&#128065;</span>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>

        </div>
    </div>
</div>

<!-- Link para o script JavaScript -->
<script th:src="@{/scripts/login.js}"></script>
</body>
</html>
